<div class="form-flex" *ngIf=signupForm>
  <form [formGroup]="signupForm" class="signup-form">
    <mat-form-field class="form-full-width">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" (keyup)="checkValues()" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="form-full-width">
      <mat-label>Confirm</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" (keyup)="checkValuesForConfirmPassword()" autocomplete="off">
    </mat-form-field>
    <mat-error *ngIf="passwordIsRequired">
      Enter a password
    </mat-error>
    <mat-error *ngIf="confirmPasswordRequired">
      Confirm your password
    </mat-error>
    <mat-error *ngIf="passwordIncomplete">
      Use 8 characters or more for your password
    </mat-error>
    <mat-error *ngIf="passwordNotMatched">
      Those passwords didn’t match. Try again.
    </mat-error>
    <mat-checkbox (change)="togglePasswordVisibility()">
      Show Password
    </mat-checkbox>
    <div class="button-next">
      <button mat-flat-button color="primary" type="submit" class="btn-radius" (click)="goToNext()">Next</button>
    </div>
  </form>
</div>