<div class="form-flex" *ngIf=signupForm>
  <form [formGroup]="signupForm" class="signup-form">
    <mat-form-field class="form-full-width">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" (keyup)="checkValues()" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="form-full-width">
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname" autocomplete="off">
    </mat-form-field>
    <mat-error *ngIf="nameIncomplete">
      Enter a name
    </mat-error>
    <div class="button-next">
      <button mat-flat-button color="primary" type="submit" class="btn-radius" (click)="goToBasicInfo()">Next</button>
    </div>
  </form>
</div>