.signin-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-full-width {
  width: 100%;
}

form {
  float: inline-end;
}

.learn-more {
  margin-top: 32px;
}

.btn-radius {
  border-radius: 20px;
}

.form-flex {
  flex: auto;
}

.suffix-style {
  padding-right: 15px;
  padding-left: 6px;
  color: #1f1f1f;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 50px;
}

button {
  margin: 0;
}