<div class="form-flex" *ngIf=signupForm>
  <form [formGroup]="signupForm" class="signup-form">
    <div class="brd-dropdown">
      <mat-form-field class="form-brd-width" maxlenght="2">
        <mat-label>Day</mat-label>
        <input matInput formControlName="dateOfBirthDay" maxlength="2" pattern="\d{2}" (keyup)="checkValues()" autocomplete="off">
      </mat-form-field>
      <mat-form-field class="form-brd-width">
        <mat-label>Month</mat-label>
        <mat-select formControlName="dateOfBirthMonth" (selectionChange)="checkValues()">
          @for (month of months; track month) {
            <mat-option [value]="month">{{month}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-brd-width" maxlenght="4" minlength="4">
        <mat-label>Year</mat-label>
        <input matInput maxlength="4" pattern="\d{4}" formControlName="dateOfBirthYear" (keyup)="checkValues()" autocomplete="off">
      </mat-form-field>
    </div>
    <mat-error *ngIf="dateOfBirthIncomplete">Please fill in a correct date of birth</mat-error>
    <div>
      <mat-form-field class="form-full-width">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" (selectionChange)="checkGender($event)">
          @for (gender of availableGender; track gender) {
            <mat-option [value]="gender">{{gender}}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="signupForm.get('gender')?.hasError('required')">
          please select your gender
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="customisedGender">
      <mat-form-field class="form-full-width">
        <mat-label>What's your gender?</mat-label>
        <input matInput formControlName="firstName" (keyup)="checkValues()" autocomplete="off">
      </mat-form-field>
      <div>
        <mat-form-field class="form-full-width">
          <mat-label>Please refer to me as</mat-label>
          <mat-select formControlName="referGender">
            @for (referGen of referGender; track referGen) {
              <mat-option [value]="referGen">{{referGen}}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="signupForm.get('gender')?.hasError('required')">
            please select your gender
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="button-next">
      <button mat-flat-button color="primary" type="submit" class="btn-radius" (click)="goToUseExistingEmail()">Next</button>
    </div>
  </form>
</div>