.btn-radius {
  border-radius: 20px;
  float: right;
  padding: 20px 25px;
}

.youtube-icon {
  height: 40px;
  width: 40px;
}

.youtubeText-icon {
  height: 60px;
  width: 60px;
}

.border-class {
  border-right-color: rgba(34, 36, 38, .15) !important;
}