.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-icon {
  width: 2.0em;
  height: auto;
}

.sidenave {
  width: 250px i !important;
}

.sidenave-content {
  margin-left: 300px i !important;
}

.sidenav-icons-container {
  height: 56px;
  padding: 0 30px;
  display: flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.margin {
  margin: 0;
  margin-left: 20px;
}