<div class="form-flex" *ngIf="signinForm">
  <form [formGroup]="signinForm" class="signin-form">
    <mat-form-field class="form-full-width">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" (keyup)="checkValues()" autocomplete="off">
    </mat-form-field>
    <mat-error *ngIf="passwordIsRequired">
      Enter a password
    </mat-error>
    <mat-error *ngIf="wrongPassword">
      Wrong password. Try again.
    </mat-error>
    <mat-checkbox (change)="togglePasswordVisibility()">
      Show Password
    </mat-checkbox>
    <div class="button-next">
      <!-- <button mat-raised-button color="primary" type="submit" class="btn-radius" (click)="goToNext()">Forgot password?</button> -->
      <button mat-flat-button color="primary" type="submit" class="btn-radius" (click)="goToNext()">Next</button>
    </div>
  </form>
</div>