<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/shorts']">Shorts</a>
      <div>
        <label for="language">Select Language:</label>
        <select id="language" [(ngModel)]="selectedLanguage" (change)="changeLanguage($event)">
          <option *ngFor="let language of languages" [value]="language.id">
            {{ language.snippet.name }}
          </option>
        </select>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <button *ngIf="isLoggedIn" mat-button (click)="toggleSidenav()">
      <div class="sidenav-icons-container">
      <img src="/assets/youtubeIcon/sidenaveIcon.png" class="sidenav-icon" alt="">
      </div>
    </button>
    <button *ngIf="isLoggedIn" mat-button (click)="getPageRefresh()">
      <h3 class="ui centered aligned header margin">
        <span style="vertical-align: middle;">Youtube</span>
      </h3>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
